#tekstWiadomosci1 {
    background-color: #0075ff;
    /* padding: 0px 20px 0px 20px; */
    width: 300px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 5px 7px 7px 0px rgba(66, 68, 90, 1);
    display: flex;
}

#tekstWiadomosci2 {
    background-color: white;
    color: #0075ff;
    /* padding-left: 20px; */
    width: 300px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 5px 7px 7px 0px rgba(66, 68, 90, 1);
}

#wiadomosc1 {
    display: flex;
    /* height: 40px; */
    /* float: right; */
    align-items: center;
    /* margin-right: 10px; */
    /* margin-bottom: 10px; */
}

#wiadomosc2 {
    display: flex;
    height: 40px;    
    align-items: center;
    /* margin-bottom: 50px; */
    margin-left: 30px;
}

svg {
    cursor: pointer;
}

#parent1 {
    position: relative;
    display: flex;
    float: right;
    flex-direction: column;
    word-break: break-all;
}

#parent2 {
    display: flex;
    float: left;
    flex-direction: column;
    word-break: break-all;
}

#dataWyslania1 {
    width: 320px;
    text-align: right;
}

#dataWyslania2 {
    text-align: right;
}

i {
    font-size: 22px;
    margin-left: 10px;
    color: black;
    cursor: pointer;
}