<div id="parent1" *ngIf="message.nazwa_uzytkownika=='user1'" class="row">
    <div id="wiadomosc1" class="col">
        <div id="tekstWiadomosci1" *ngIf="!trybEdycji" class="pt-3 px-4">
            <p> {{ message.tresc_wiadomosci }}</p>
        </div>
        <div id="tekstWiadomosci1" *ngIf="trybEdycji" class="container d-flex flex-column p-3 justify-content-start align-items-center">
            <p><input class="form-control form-control-lg" type="text" [(ngModel)]="message.tresc_wiadomosci"></p>
            <div>
                <button (click)="zapiszZmiany()" class="btn btn-light mx-1">Zapisz zmiany</button>
                <button (click)="odrzucZmiany()" class="btn btn-danger">Odrzuć zmiany</button>
            </div>
        </div>
        <i class="fa-solid fa-pen-to-square" (click)="odpalTrybEdycji()"></i>
        <i class="fa-solid fa-trash" (click)="usunWiadomosc()"></i>
    </div>
    
    <div id="dataWyslania1" class="col mt-1">
        <p> {{ message.data_wyslania_wiadomosci }} </p>
    </div>
</div>

<div id="parent2" *ngIf="message.nazwa_uzytkownika=='user2'" class="row">
    <div id="wiadomosc2" class="col">
        <div id="tekstWiadomosci2" class="pt-3 px-4">
            <p> {{ message.tresc_wiadomosci }}</p>
        </div>
    </div>
    
    <div id="dataWyslania2" class="col mt-1">
        <p> {{ message.data_wyslania_wiadomosci }} </p>
    </div>
</div>