<div class="czatOrazMenu">
    <div class="calyCzat">
        <h2>Nazwa Użytkownika</h2>
        <div class="divProfilowe">
            <img src="/assets/img/zdjecie_profilowe.png" alt="Zdjęcie profilowe">
        </div>
        <!-- <hr> -->
        <div class="konwersacja">
            <div class="poczatekKonwersacji">
                <p>To jest początek tej konwersacji</p>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
        </div>
    </div>
    <div class="menu">
        <h2>Menu</h2>
    </div>
</div>

<div class="wpisanieWiadomosci">
    <input type="text" name="wiadomosc" id="wiadomosc" placeholder="Wpisz wiadomość...">
    <button type="submit" id="wyslij"></button>
</div>

