.czatOrazMenu{
    display: flex;
}
.calyCzat{
    border: 1px solid black;
    float: left;
    width: 90%;
}
.menu{
    border: 1px solid black;
    float: right;
    width: 10%;
}
h2{
    text-align: center;
}
.divProfilowe{
    display: flex;
    justify-content: center;
    height: 100px;
}
.poczatekKonwersacji{
    text-align: center;
    color: gray;
    font-size: 12px;
}
.konwersacja{
    overflow-y: scroll;
    height: 400px;
}
.wpisanieWiadomosci{
    text-align: center;
    padding: 10px;
    width: 90%;
}
.wpisanieWiadomosci #wiadomosc{
    height: 50px;
    width: 600px;
    font-size: 20px;
}
.wpisanieWiadomosci #wyslij{
    width: 0; 
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    
    border-right: none;
    background-color: #d7d7d7;
    border-left: 25px solid blue;
    margin-left: 10px;
}