<div class="czatOrazMenu">
    <div class="calyCzat">
        <h2>Nazwa Użytkownika</h2>
        <div class="divProfilowe">
            <img src="/assets/img/zdjecie_profilowe.png" alt="Zdjęcie profilowe">
        </div>

        <div class="konwersacja">
            <div class="poczatekKonwersacji">
                <p>To jest początek tej konwersacji</p>
            </div>
            <div id="resztaKonwersacji" *ngFor="let wiadomosc of wiadomosci">
                <app-wiadomosc [message]="wiadomosc"></app-wiadomosc>
            </div>
        </div>
    </div>
    <div class="menu">
        <h2>Menu</h2>
    </div>
</div>

<form (submit)="dodajWiadomosc()">
    <div class="wpisanieWiadomosci">
        <input type="text" name="tresc_wiadomosci" id="wiadomosc" [(ngModel)]="nowaWiadomosc.tresc_wiadomosci" placeholder="Wpisz wiadomość...">
        <button type="submit" id="wyslij"></button>
    </div>
</form>

